<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../elements/designmap/designmap-chat/designmap-chat.html">
<link rel="import" href="../elements/designmap/designmap-ui/designmap-dashboard.html">
<!-- Redux -->
<link rel="import" href="../redux/redux-store.html">

<dom-module id="designmap-chat-view">
    <style>

    </style>
    <template>
        <div class="content">
            <designmap-chat id="chat" opened="true" dashboard></designmap-chat>
        </div>
    </template>
    <script>
        Polymer({
            is: 'designmap-chat-view',
            behaviors: [],
            properties: {}
        });
    </script>
</dom-module>
