<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../elements/designmap/designmap-chat/designmap-chat.html">
<link rel="import" href="../elements/designmap/designmap-ui/designmap-dashboard.html">
<!-- Redux -->
<link rel="import" href="../redux/redux-store.html">

<dom-module id="designmap-chat-view">
    <style>
        :host {
            display: block;
            height: 100%;
            --designmap-dashboard-title-mixin: {
                margin-left: 25px;
            };
        }
        .content {
            height: 100%;
        }
    </style>
    <template>
        <div class="content">
            <designmap-dashboard>
                <div class="title">
                    <i18-n msgid="Chat">Chat</i18-n>
                </div>
            </designmap-dashboard>
            <designmap-chat id="chat" opened="true" dashboard></designmap-chat>
        </div>
    </template>
    <script>
        Polymer({
            is: 'designmap-chat-view',
            behaviors: [],
            properties: {}
        });
    </script>
</dom-module>
