<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../elements/designmap/designmap-login/designmap-login-form.html">

<dom-module id="designmap-login-view">
  <template>
    <style>
      :host {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: auto !important;
        background: var(--gray-lighty-color);
      }
      designmap-login-form {
        position: relative;
        bottom: 30px;
      }
    </style>
    <designmap-login-form></designmap-login-form>
  </template>

  <script>
    Polymer({
      is: 'designmap-login-view',
    });
  </script>
</dom-module>
