<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../elements/designmap/designmap-activate/designmap-activate.html?hash=26-05-2017-1">

<dom-module id="designmap-activate-view">
    <template>
        <style>
            :host {
                display: block;
                width: 100%;
                height: 100%;
            }
        </style>
        <designmap-activate></designmap-activate>
    </template>
    <script>
        Polymer({
            is: 'designmap-activate-view'
        });
    </script>
</dom-module>
